.background {
    background-color: #1a1d1ed0;
    height: 100vh;
    padding-top: 1px;
}
.scoreboard {
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50% 50%;
    grid-template-rows: 50% 50% 50%;
    max-width: 300px;
}

.card {
    box-shadow: 0 20px 40px 0 rgba(78, 72, 72, 0.2);
    transition: 0.3s;
    border-radius: 30px;
}

.tile {
    border: 3px dotted white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: crosshair;
}
.display {
    text-align: center;
}
.player1 {
    color: rgb(84, 84, 161);
}
.player2 {
    color: rgb(30, 30, 216);
}
h1 {
    text-align: center;
}